.backdrop {
  border-radius: 3px;
  z-index: 1999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
img {
  position: absolute;
  z-index: 999999999999999;
  left: calc(50% - 150px);
  margin: auto;
  top: calc(50% - 100px);
}

@media only screen and (max-width: 500px) {
  img {
    left: calc(50% - 30px);
  }
}

.spin {
  top: 40%;
  width: 70px;
  height: 70px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }