.backdrop {
  border-radius: 3px;
  z-index: 1999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
img {
  position: absolute;
  z-index: 999999999999999;
  left: calc(50% - 150px);
  margin: auto;
  top: calc(50% - 100px);
}