/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  font-family: Sans-serif;
  line-height: 1.5em;
}

#nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px; /* Width of navigation frame */
  height: 100%;
  overflow: hidden; /* Disables scrollbars on the navigation frame. To enable scrollbars, change "hidden" to "scroll" */
  background: #26262b;
}

@media only screen and (max-width: 500px) {
  #nav { 
    display: none;
  }
  #navbar {
    display: block;
    &_title {
      display: none;
    }
    span {
      &.alert-success {
        font-size: 16px;
      }
    }
  }
  #main {
    left: 0px !important;
    min-width: 100% !important;
    h4 {
      &.alert-success {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
      }
    }
    ul {
      li {
        a {
          font-size: 15px;
        }
      }
    }
  }
}

@media only screen and (min-width: 501px) {
  #navbar {
    display: none;
    &_title {
      display: block;
    }
  }
  #main {
    h4 {
      &.alert-success {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
      }
    }
  }
}

#main {
  position: fixed;
  top: 0;
  left: 250px; /* Set this to the width of the navigation frame */
  right: 0;
  bottom: 0;
  overflow: auto;

  background: url('assets/images/matrix_max.gif');
  min-width: 780px;
}

p {
  color: #555;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav ul a {
  color: #373737;
  text-decoration: none;
}

.scollbar {
  overflow: auto;
}

/*IE6 fix*/
* html body {
  padding: 0 0 0 300px; /* Set the last value to the width of the navigation frame */
}

* html main {
  height: 100%;
  width: 100%;
}
/*Font color*/
.text-alert-danger {
  color: #721c24;
}
/* Reset */
.modal-backdrop {
  position: inherit !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0 !important;
  // background-color: #ff450000 !important;
}
.h35 {
  height: 35px;
}
.h30 {
  height: 30px;
}
.h25 {
  height: 25px;
}
.middle {
  vertical-align: middle !important;
}
.shadow {
  -moz-box-shadow: 2px -1px 17px #000000;
  -webkit-box-shadow: 2px -1px 17px #000000;
  box-shadow: 2px -1px 17px #000000;
}
.mw50 {
  min-width: 50% !important;
}
.w100 {
  width: 100px !important;
}
.w200 {
  width: 200px !important;
}
.w300 {
  width: 300px !important;
}
.w400 {
  width: 400px !important;
}
.w500 {
  width: 500px !important;
}
.w600 {
  width: 600px !important;
}
.w700 {
  width: 700px !important;
}
.w800 {
  width: 800px !important;
}
.w900 {
  width: 900px !important;
}
/*Width Percen*/
.wp100 {
  width: 100% !important;
}
.wp95 {
  width: 95% !important;
}
.wp90 {
  width: 90% !important;
}
.wp80 {
  width: 80% !important;
}
/*Height*/
.vh5 {
  height: 5vh;
}
.vh10 {
  height: 10vh;
}
.vh20 {
  height: 20vh;
}
.vh30 {
  height: 30vh;
}
.vh40 {
  height: 40vh;
}
.vh50 {
  height: 50vh;
}
.vh60 {
  height: 60vh;
}
.vh80 {
  height: 80vh;
}
.vh85 {
  height: 85vh;
}
.vh90 {
  height: 90vh;
}
.vh95 {
  height: 95vh;
}
.vhCal {
  height: calc(100%-100px);
  height: -moz-calc(100%-100px);
  height: -webkit-calc(100%-100px);
}

/*Test react animation react-addons-css-transition-group*/
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.cursor {
  cursor: pointer;
}

.block-code {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

/* xoay logo */
.app-logo {
  -webkit-animation: app-logo-spin infinite 10s linear;
  animation: app-logo-spin infinite 10s linear;
  height: 85px;
}
@-webkit-keyframes app-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes app-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.fixFacebookAdd {
  position: fixed;
  bottom: 0;
  min-width: 250px;
}

/* FIX alert color */
.alert-success {
  color: #afe1b2 !important;
  background-color: #253d28 !important;
  border-top-color: #38653f !important;
  border-right-color: #38653f !important;
  border-bottom-color: #38653f !important;
  border-left-color: #38653f !important;
}
.alert-army {
  color: #afe1b2eb !important;
  background-color: #2f3d25 !important;
  border-top-color: #5e6538 !important;
  border-right-color: #38653f !important;
  border-bottom-color: #4b6538 !important;
  border-left-color: #496538 !important;
}
.alert-warning {
  color: #f3d686 !important;
  background-color: #564612 !important;
  border-top-color: #a38017 !important;
  border-right-color: #a38017 !important;
  border-bottom-color: #a38017 !important;
  border-left-color: #a38017 !important;
}
.alert-danger {
  color: #dd9e9f !important;
  background-color: #44191c !important;
  border-top-color: #7c262d !important;
  border-right-color: #7c262d !important;
  border-bottom-color: #7c262d !important;
  border-left-color: #7c262d !important;
}
.alert-primary {
  color: #87b8ea !important;
  background-color: #113152 !important;
  border-top-color: #16559a !important;
  border-right-color: #16559a !important;
  border-bottom-color: #16559a !important;
  border-left-color: #16559a !important;
}
.alert-info {
  color: #a5dee3;
  background-color: #213e41 !important;
  border-top-color: #33686e !important;
  border-right-color: #33686e !important;
  border-bottom-color: #33686e !important;
  border-left-color: #33686e !important;
}
.table-bordered,
td,
th {
  border: 1px solid #516907 !important;
}
/*END bg */
body,
a {
  color: #c5cbce !important;
  text-decoration: none !important;
}
iframe {
  border: #26262b;
  height: calc(100vh - 125px) !important;
  background: beige;
}
.tradingview-widget-container div:nth-child(1) > div {
  height: auto !important;
}
input {
  background: #222222 !important;
  color: #59f30e !important;
}

/* =========== SCROLL BASE =========== */
@mixin scroll-base {
  overflow-y: auto;
  overflow-x: auto;
  overflow-anchor: none; // Stop automatic scrolling on page content change (Fixbug on hover widget)

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    border: 2px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
}

.scroll-dark {
  @include scroll-base;

  &::-webkit-scrollbar-thumb {
    background: #333333;
    border: 1px solid #333333;
  }
}

.scroll-gray {
  @include scroll-base;

  &::-webkit-scrollbar-thumb {
    background: #e4e6ef14;
    border: 1px solid #e4e6ef52;
  }
}

.scroll-gray-7 {
  @include scroll-base;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #d6d6d63b;
    border: 1px solid #c5c5c5;
  }
}

.scroll-opacity {
  @include scroll-base;

  &::-webkit-scrollbar-thumb {
    background: #e0e0e03d;
    border: 1px solid #e0e0e017;
  }
}
